// IMPORTS
@import './var.scss';
//

.parts-page {
    padding: 0 7vw;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 3;
    margin-top: 120px;
    row-gap: 30px;
    column-gap: 50px;
}

.parts-header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
    background-color: #eeeeee;
    box-shadow: $shadow;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $white;
}

.query-div {
    margin-bottom: 20px;
    .query {
        margin: 0;
        padding-left: 10px;
    }
}

.filter-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.clear-filters {
    width: fit-content;
    margin: 25px 10px;
    font-size: 0.8rem;
}

.search-wrapper {
    width: 100%;
    background-color: #fff;

    i {
        color: #4f4f4f;
        margin-left: 25px;
        font-size: 1.5rem;
    }

    input {
        padding: 20px 10px 20px 20px;
        position: relative;
        font-size: 1em;
        border-style: none;
        color: $dark;
        font-size: 1.5rem;
        border-radius: 2px;
        outline: none;
    }
}

#search-results {
    color: white;
    position: relative;

}

.parts-container {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 450px;
    column-gap: 20px;
    row-gap: 20px;
    padding-bottom: 50px;

    .part-entry:hover {
        transform: none;
    }
}

.filter-btn {
    margin: 0 10px;
/*     font-size: 0.8rem !important;
 */}

.filter-container {
    width: 100%;
    background: #eeeeee;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    min-height: 60vh;
    box-shadow: $shadow;

    .filter-text {
        cursor: pointer;
        color: $dark;
        text-align: left;
        margin-left: 10px;
        transition: 0.2s; 
      }
      
}

.filter-container-cap {
    background-color: $red;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: $shadow;
    position: relative;

    h2 {
        color: $white;
        font-size: 1.2rem;
        margin: 0;

    }
    i {
        color: $white;
        margin-right: 15px;
        margin-left: 15px;
    }
}
