// VARIABLES
$title: 'Fugaz One', cursive;

$body: 'Inter', sans-serif;

$red: #ff4343;
$dark: #0E1116;
$blue: #374A67;
$white: #f5f5f5;
$blue: #2E86AB;

$shadow: rgba(0, 0, 0, 0.1) 0px 0px 0.7rem;


